
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 400px;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
}
#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}
.buttons {
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.buttons > div {
  border: 0.5 solid #999;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}
.button {
  border: 0.5px solid #999;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

#equal {
  background-color: #5555ff;
  color: white;
}

.button:hover {
  background-color: black;
  color: white;
  transition: 0.5s case-in-out;
}

#themeControl {
  top: 10px;
  position: absolute;
  right: 20px;
}

.label {
  position:relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
  width: 50px;
  height: 26px;
  background-color: darkcyan;
}
.fa-moon{
  color: #f1c48f;
}

.fa-sun{
  color: #f39c12;
}
.cb{
  opacity: 0;
  position: absolute;
}

.cb:checked + .label .ball{
  /* background-color: #5555ff; */
  transform: translateX(24px);
}

.ball{
  background-color: #fff;
  position: absolute;

  border-radius: 50%;
  top: 2px;
  left: 2px;
  
  height: 22px;
  width: 22px;

 }

 body.dark{
  background-color: #111;
 }

 .container.dark{
  background-color: white;
  box-shadow: none;
 }

